<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/styles.css">
  <title>reddit: the front page of the internet</title>
</head>
<body>
	<header class="banner">
		<h1>space</h1>
		<h2 class='post-to'>edit post</h2>
	</header>
	<div class="container">
		<form class="new-post-form"  action="/posts" method="PUT">

		  <label for="title">title</label>
   		<textarea type="text" id="title" name="title" required></textarea>

		  <label for="url">URL</label>
 		  <input type="url" id="url" name="url" required>

	    <button class="submit" id="#submit-new-post" type="submit">Submit</button>
		</form>

	</div>
	<!-- <script src="views/frontend.js"></script> -->
</body>
</html>
