<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../assets/styles.css">
  <title>reddit: the front page of the internet</title>
</head>
<body>
	<header class="banner">
		<h1>space</h1>
	</header>
	<div class="container">
		<main>
		</main>
		<aside>
			<button class="submit" id="to-new-post" href="localhost:3000/newpost">Submit a new post</button>
			<div class="side-wrapper">
				<h3>About <span id="r-slash-link">r/space</span></h3>
				<section class="share">
					<h4>Share & discuss informative content on:</h4>
					<ul>
						<li>Astrophysics</li>
						<li>Cosmology</li>
						<li>Space Exploration</li>
						<li>Planetary Science</li>
						<li>Astrobiology</li>
					</ul>
				</section>
			</div>
		</aside>
	</div>
	<script src="views/frontend.js"></script>
</body>
</html>
