body {
	font-family: Arial, Helvetica, Sans-Serif;
}

.container {
	background-color: #f4baba;
	width: 450px;
	height: 226px;
	margin: 60px auto 0 auto;
	padding: 50px 110px 50px 110px;
	border-radius: 8px;
	box-shadow: 23px 23px 2px rgb(129, 143, 209);
}

h1 {
	font-size: 36px;
}

select {
	appearance: none;
	background-image: url(arrow.png) no-repeat;
	background-size: 10%;
	background-position: right 10px center;
	background-color: #f8f8f8;
	color: #0d0d0d;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	padding: 15px 5px;
	width: 200px;
}

.hide {
	display: none;
}
