<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Cocktails</title>
  </head>
  <body>
		<div class='wrapper'>
	    <h1>Cocktails</h1>
			<ul class='alcohol-list'>
				<li><a href='/'>ALL</a></li>
				<li><a href='/?drink=gin'>GIN</a></li>
				<li><a href='/?drink=vodka'>VODKA</a></li>
				<li><a href='/?drink=rum'>RUM</a></li>
				<li><a href='/?drink=tequila'>TEQUILA</a></li>
			</ul>
			<div class='container'>
				<div class='list-item'>
					<h2>NAME</h2>
					<h2>PRICE</h2>
				</div>
					<% for(let i = 0; i < cocktails.length; i++){ %>
						<div class='list-item'>
							<h3><%= cocktails[i].name %></h3>
							<% if(!cocktails[i].isAlcoholic) { %>
								<h5>(non-alcoholic)<h5>
							<% } %>
							<p><%= cocktails[i].contains %></p>
							<h4><%= cocktails[i].price %> </h4>
						</div>
						<% } %>
			</div>
		</div>
  </body>
</html>
