header {
	background-color: #b02aff;
	width: 100%;
	height: 86px;
}

.list {
	list-style-type: none;
	width: 600px;
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: minmax(auto, 40px);
	padding-left: 19px;
	padding: 23px 0 23px 54px;
	margin: 0;
}

.item {
	background-color: #2aeaff;
	margin-right: 14px;
	padding-top: 15px;
}

.container {
	padding: 0 5% 10px 5%;
	margin: 20px auto 0 auto;
	display: grid;
	grid-gap: 10px;
	display-template-columns: 1fr 2fr;
	grid-template-rows: repeat(9, 1fr);
	height: 600px;
}

.green {
	background-color: #51d400;
	grid-column: 1 / 2;
	grid-row: 1 / 9;
}

.yellow {
	background-color: #ffd62a;
	grid-column: 2 / 5;
	grid-row: 1 / 9;
}

.grey {
	background-color: #cccccc;
	grid-row: 9 / 10;
	grid-column: 1 / 5;
}
